<button mat-raised-button>Hello World!</button>
<div class="mat-display-4">This is display 4</div>
<div class="mat-display-3">This is display 3</div>
<div class="mat-display-2">This is display 2</div>
<div class="mat-display-1">This is display 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div>
  <button mat-fab>Fab</button>
</div>
<div>
  <button mat-icon-button> Humpy</button>
  <button mat-mini-fab> Fab</button>
  <button mat-fab> submit</button>
  </div>
  <div>
    <button color="primary" mat-button> primary</button>
    <button color="accent"mat-button>accent </button>
    <button color="warn" disableRipple mat-button> warn</button>
    <button color="primary" mat-raised-button> primary</button>
    <button color="accent"mat-raised-button>accent </button>
    <button color="warn" mat-raised-button > warn</button>
    </div>
    
  
