
<mat-grid-list cols="2" rowHeight="fit" style="height:100px" guttersize="10px">
  <mat-grid-tile>Design</mat-grid-tile>
  <mat-grid-tile>Components</mat-grid-tile>
  
</mat-grid-list>
<mat-accordion multi="true">
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Angular</mat-panel-title>
    <mat-panel-description>Duration</mat-panel-description>
  </mat-expansion-panel-header>
  <p>It is a panel content.Add course details</p>
  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>Angular Material</mat-panel-title>
    <mat-panel-description>Duration</mat-panel-description>
  </mat-expansion-panel-header>
  <p>It is a panel content.Add course details</p>
  <mat-action-row>
    <button mat-button>Enroll</button>
  </mat-action-row>
</mat-expansion-panel>
</mat-accordion>

<mat-toolbar color="primary" class="navbar">
  <div>
    <mat-icon color="black">view_headline</mat-icon>
  </div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
    <span>Contacts</span>
  </div>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="opened"><mat-list>
  <mat-list-item>Home</mat-list-item>
  <mat-list-item>About</mat-list-item>
  <mat-list-item>Services</mat-list-item>
</mat-list></mat-sidenav>
  <mat-sidenav-content>Main
  <button (click)="opened=!opened">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container>
<div>
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item>Frontend</button>
    <button mat-menu-item>Backend</button>
  </mat-menu>
  <button mat-flat-button [matMenuTriggerFor]="appMenu">Menu</button>
</div>
<mat-tab-group #tabRef>
  <mat-tab label="Angular">Angular Content</mat-tab>
  <mat-tab label="React">React Content</mat-tab>
  <mat-tab label="HCI">HCI Content</mat-tab>
</mat-tab-group>
{{tabRef.selectedIndex}}

<mat-horizontal-stepper>
  <mat-step label="shipping address"><p>shipping address</p></mat-step>
  <mat-step label="billing address" completed="false" optional><p>billing address</p>
  <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button matStepperNext>Next</button>
  </div>
  </mat-step>
  <mat-step label="order address"><p>order address</p></mat-step>
</mat-horizontal-stepper>
<mat-form-field floatLabel="always" appearance="fill" color="accent">
  <mat-label>Name</mat-label>
  <input matInput required>
  <mat-hint align="end">Min 5 chars</mat-hint>
</mat-form-field>

<mat-card>
  <mat-card-title>Card</mat-card-title>
  <mat-card-content>Card Content</mat-card-content>
  <mat-card-actions align="end">
    <button mat-flat-button>Login</button>
  </mat-card-actions>
</mat-card>

    
<mat-list-item class="mat-typograpgy">
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup">
    <mat-button-toggle value="Design">Design</mat-button-toggle>
    <mat-button-toggle value="Components">Components</mat-button-toggle>
  </mat-button-toggle-group>
  {{toggleGroup.value}}
 
  
</mat-list-item>
<br>
<div class="mat-heading">Sharing data with the bottom sheet component</div>
<div class="mat-title">Module</div>
<div class="mat-subheading-2">Configuring bottom sheet content</div>
<div class="mat-subheading-1">Any components that are included inside of a bottom sheet have to be added to</div>
<div>
  <span matBadge="8" matBadgePosition="below after" matBadgeSize="small" matBadgeOverlap="false">notification</span>
</div>

<br>
<mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
<button (click)="loadData()">Load Data</button>
<br><br>
<div>
  <button mat-fab>End</button>
<div>

  <button mat-button>Click</button>
  <button mat-raised-button>Click</button>
  <button mat-flat-button>Click</button>
  <button mat-stroked-button>Click</button>

</div>
<div>

  <button mat-icon-button>Click</button>
  <button mat-fab>Click</button>
  <button mat-mini-fab>Click</button>
  

</div>
<div>

  <button color="primary" mat-button>Click</button>
  <button color="Accent" mat-button>Click</button>
  <button color="Warn" disable-rippled mat-button>Click</button>
  

</div>
<div>

  <button color="primary" mat-raised-button>Click</button>
  <button color="Accent" mat-raised-button>Click</button>
  <button color="Warn" mat-raised-button>Click</button>
  

</div>
<div>
  <mat-button-toggle #toggleBtn>Toggle</mat-button-toggle>
  {{toggleBtn.checked}}
</div>


<div>
  <span [matBadge]="notification">Notifications</span>
</div>
<mat-progress-spinner value="50"></mat-progress-spinner>

<mat-spinner *ngIf="showSpinner" color="accent"></mat-spinner>
<button (click)="loadData()">Load Data</button>
</div>
<button mat-raised-button>Hello world</button>
<div class="mat-display-4">Display4</div>
<div class="mat-display-3">Display3</div>
<div class="mat-display-2">Display2</div>
<div class="mat-display-1">Display1</div>
<div class="mat-headline">Display Heading</div>
<div class="mat-title">Display3</div>
<div class="mat-subheading-2">Display2</div>
<div class="mat-subheading-1">Display1</div>

<div class="mat-body-1">Display3</div>
<div class="mat-body-2">Display2</div>
<div class="mat-caption">Caption1</div>

<div class="mat-typograpgy">
  <h1>Heading1</h1>
  <h2>heading2</h2>
  <h3>heading3</h3>
  <h4>heading</h4>
</div>

